* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #2D0B01;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 80%;
}

.menucentro {
    display: flex;
    gap: 50px;
}

.menucentro a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ED9703;
    transition: color 0.3s;
}

.menucentro a:hover {
    color: #FFF;
}

.historia {
    width: 60%;
    margin: auto;
    text-align: center;
}

.historia p {
    text-align: left;
    font-size: 18px;
    line-height: 1.8;
}

.novojogo {
    background: #ED9703;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    color: #000;
    transition: color 0.3s;
    display: inline-block;
}

.rodape {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    font-family: sans-serif;
    font-size: 14px;
    color: #333;
}