{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
    
}
header {
    position: relative;
    background-color: #2D0B01;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 80%;
}
nav a {
    margin-left: 50px;
    font-weight: 800;
    transition: all 0.3s;
}
.menucentro {
    display: flex;
    gap: 30px;
}
.menucentro a {
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
}
.menucentro a {
    background-color: #ED9703;
}

.menucentro a:hover {
    color: #FFFFFF;
}
section {
    text-align: center;
    padding: 15px 15px;
}

section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}
iframe {

    width: 100%;
    height: 600px
    border: none; 
    display: block;
    background-color: #000;            
}
#margemjogo {
    background: #2b0a00; 
    border: px solid #a0522d;         
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    display: block;
    max-width: 840px;
    margin: 0 auto 20px auto;
    text-align: center;
}
.centralizar {
    text-align: center;
    margin-top: 50px;
}

.historia {
    width: 60%;
    margin: auto;
    text-align: center;
}

.historia p {
    text-align: justify;
    font-size: 18px;
    line-height: 1.6;
}
.novojogo {
    background: #ED9703;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
    justify-content: center;
    height: 100vh;
    border-radius: 4px;
    color: #000000;
    transition: all 0.3s;
}
.novojogo:hover {
    color: #FFFFFF;
}
.rodape {
  text-align: center;
  margin-top: 40px;
  padding: 10px;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
}
