{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 0;
}
header {
    position: relative;
    background-color: #2D0B01;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 80%;
}
nav a {
    margin-left: 50px;
    font-weight: 800;
    transition: all 0.3s;
}
.menucentro {
    display: flex;
    gap: 30px;
}
.menucentro a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
}
.menucentro a {
    background-color: #ED9703;
}

.menucentro a:hover {
    color: #FFFFFF;
}
section {
    text-align: center;
    padding: 15px 15px;
}

section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

/* Iframe do jogo */
iframe {
    display: block;
    margin: 0 auto 20px auto;
    border: 5px solid #000;
    max-width: 800px;
}

/* Link para abrir o jogo */
p a {
    display: inline-block;
    background-color: #ff0000;
    color: #fff;
    font-weight: bold;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    margin-bottom: 40px;
}

p a:hover {
    background-color: #cc0000;
}

/* Rodapé */
footer {
    background: url('site/texture.png') repeat; /* Substitua com sua imagem de textura */
    color: white;
    text-align: center;
    padding: 40px 0;
    font-weight: bold;
}