* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #000;
}

header {
    background-color: #2D0B01;
    padding: 10px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid #ED9703;
}

header img {
    height: 80%;
}

.menucentro {
    display: flex;
    gap: 50px;
}

.menucentro a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    padding: 8px 16px;
    border-radius: 4px;
    background-color: #ED9703;
    transition: color 0.3s;
}

.menucentro a:hover {
    color: #FFF;
}

section {
    text-align: center;
    padding: 15px;
}

section h1 {
    font-size: 40px;
    margin-bottom: 10px;
}

iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
    background-color: #000;
}

#margemjogo {
    background: #2b0a00;
    border: 5px solid #a0522d;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    max-width: 840px;
    margin: 0 auto 20px auto;
    text-align: center;
}

.centralizar {
    text-align: center;
    margin-top: 50px;
}


.novojogo {
    background: #ED9703;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 4px;
    color: #000;
    transition: color 0.3s;
    display: inline-block;
}

.novojogo:hover {
    color: #FFF;
}

.rodape {
    background-color: #2D0B01;
    color: #FFF;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    border-top: 3px solid #ED9703;
}
.rodape2 {
    max-width: 800px;
    margin: auto;
}
.creditos {
    font-size: 14px;
    margin-top: 10px;
    opacity: 0.8;
}